h2 {
    text-align: center;
}

section {
    padding: 3%;
}

#one {
    color: hotpink;
    font-size: 1rem;
}

#one:hover {
    font-size: 2rem;
    color: plum;
}

#two {
    color: turquoise;
}

#three {
    color: orangered;
}

#three:hover {
    text-decoration: underline;
}


h3 {
    text-align: center;
}

footer {
    text-align: center;
}



